.main {
	input[type=text] { width:300px; }
	img { height:200px; }
	&.fullscreen {
		&:after { content: ""; background: black;
			position: fixed; left: 0; right: 0;
			top: 0; bottom: 0; z-index: -1;
		}
	}
	canvas.fullscreen {
		position: fixed; top: 0; left: 0; height: 100%;
	}
}


.tapper {
	font-size:2em;
	button { font-size:2em; }
}